.team-img{
    position: relative;
    z-index: 5;
    background-color: transparent;
    animation-name: circular-rotation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 150px;
}
@keyframes circular-rotation {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);        
    }
    100%{
        transform: rotate(360deg);
    }
}
.member-img{
    position: absolute;
    z-index: 2;
    width: 120px;
}
.team-member{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Pdesc{
    color:#ADB5BD;
}