.header img{
    width: 90;
    max-width: 375px;
}
.header p{
    color: white;
    max-width: 475px;
    font-weight: 400;
}
.mobile-img1{
    height: auto;
    position: relative;
    transform: scale(75%,75%) translateX(85%) translateY(3.5%);
    background:transparent;
    z-index: -4;
}
.mobile-img2{
    width: 80%;
    height: auto;
    position: relative;    
    transform:  scale(75%,75%) translateX(-85%) translateY(3.5%);
    z-index: -4;
}
.mobile-img3{
    background: transparent;
}
.header-imgs{
    transform: translate3d(0,61.9px,0);
}