.play-icon{
    color: black;
}
.iphone-img{
    max-width: 300px;
    height: auto;
}
.iphone-img-2{
    max-width: 300px;
    height: auto;
    position: relative;
    transform: translateX(200px);
    background: transparent;
    z-index: 5;
}